@use '../base.scss';

.loginSection {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

// 背景圖
.loginBackgroundImageWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    z-index: 0;
    background-image: url('../../assets/img/pexels-ihsan-adityawarman-1056251.jpg');
}

// 跑馬燈
.loginMarquee {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: transparent;
    z-index: 1;

    @media (min-width: 576px) {
        top: 15%;
    }
}
.loginMarqueeItem {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    animation: show 6s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: top;
}
.loginMarqueeItem1 {
    animation-delay: -6s;
}
.loginMarqueeItem2 {
    animation-delay: -4s;
}
.loginMarqueeItem3 {
    animation-delay: -2s;
}
@keyframes show {
    0% {
        transform: scale(1, 0);
    }
    17% {
        transform: scale(1, 1);
    }
    33% {
        transform: scale(1, 1);
    }
    34% {
        transform: scale(1, 0);
    }
    100% {
        transform: scale(1, 0);
    }
}

// 主要區域，登入、註冊、忘記密碼表單
.loginSectionMain {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: transparent;
    z-index: 1;

    @media (min-width: 576px) {
        top: 45%;
    }
}

// Logo
.loginLogoWrapper {
    position: absolute;
    opacity: 0;
    z-index: -9999;

    @media (min-width: 576px) {
        bottom: 5%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 150px;
        height: 150px;
        opacity: 1;
        z-index: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

// 用來掛載 ReCaptcha 的隱藏按鈕
.reCaptchaButton {
    position: absolute;
    opacity: 0;
    z-index: -9999;
}
