$text-primary-color: null; // $text-primary-color 因為是空值，所以就使用預設值。
// $text-primary-color : #000; // 但如果有設定值，就不會使用預設值。
$text-primary-color: #17202a !default; // 如果值後面加上 !default 則表示默認值。

// 主題色
// $main-theme-color: #c10265;
$main-theme-color: #43766c;
$main-theme-color-dark: #f8fae5;
$main-theme-color-light: #b19470;
$main-theme-color-complement: #76453b;

// 背景顏色
$main-background-color: #fefefe;
$main-background-color-contrasting: $text-primary-color;

$box-shadow:
    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

// 匯出變數，可以在 js 檔案中引入
// 參考資料 How to share variables between JS and SCSS? https://github.com/vitejs/vite/discussions/9601
// 參考資料 support SCSS :export{} ? https://github.com/vitejs/vite/issues/1279
:export {
    textPrimaryColor: $text-primary-color;
    mainThemeColor: $main-theme-color;
    mainThemeColorDark: $main-theme-color-dark;
    mainThemeColorLight: $main-theme-color-light;
    mainThemeColorComplement: $main-theme-color-complement;
}
