@use './base.scss';

* {
    color: base.$text-primary-color;
}

body {
    background-color: base.$main-background-color;
}

// 區塊
main {
    width: 100%;
    background-color: base.$main-background-color;
}

article {
    width: 100%;
}

section {
    width: 100%;
}
.pageSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto 10px;
    padding: 0 20px;

    @media (min-width: 576px) {
        max-width: 500px;
    }

    @media (min-width: 992px) {
        max-width: 920px;
        margin: 0 auto 20px;
    }
}

// 標題文字
h1 {
    margin: 0 0 10px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: base.$main-theme-color;

    @media (min-width: 576px) {
        margin: 0 0 20px;
        font-size: 48px;
    }
}
h2 {
    margin: 0 0 10px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: base.$main-theme-color-light;

    @media (min-width: 576px) {
        margin: 0 0 20px;
        font-size: 36px;
    }
}
h3 {
    margin: 0 0 10px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;

    @media (min-width: 576px) {
        margin: 0 0 20px;
        font-size: 24px;
    }
}
p {
    margin: 0 0 20px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;

    @media (min-width: 576px) {
        margin: 0 0 20px;
        font-size: 20px;
        line-height: 28px;
    }
}

// 表單元件
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: base.$box-shadow;
    // background-color: base.$main-background-color;

    @media (min-width: 576px) {
        max-width: 420px;
    }
}
.formGroup {
    display: flex;
    flex-direction: column;
    margin: 0 0 10px;
}
.formControlGroup {
    display: flex;
    flex-direction: row;
    margin: 0 0 10px;

    div {
        width: auto;
        margin: 0 5px 0 0;
        cursor: pointer;
        text-decoration: underline;
    }
}

label {
    margin: 0 0 5px;

    @media (min-width: 576px) {
        margin: 0 0 10px;
    }
}
input {
    width: 100%;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #dddddd;
    border-radius: 4px;
}

// 清單元件
ol {
    li {
        list-style-type: decimal;
    }
}
ul {
    li {
        list-style-type: disc;
    }
}
li {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;

    @media (min-width: 576px) {
        font-size: 20px;
        line-height: 28px;
    }
}
