@use './base.scss';

* {
    color: base.$text-primary-color;
}

body {
    background-color: base.$main-background-color;
}

h1 {
    margin: 0 0 20px;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}

h2 {
    margin: 0 0 20px;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}

h3 {
    margin: 0 0 20px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

p {
    margin: 0 0 20px;
    font-size: 20px;
    font-weight: 400;
}
