@use '../../base.scss';

.dataListWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-items: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto 20px;
}
